body {
  font-family: sans-serif;
  background-color: #f5f3f8;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 

}

.formulario {
  background-color: #ffffff;
  border: 2px solid #a084ca;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(160, 132, 202, 0.3);
  padding: 40px;
  width: 400px;
  margin: 100px auto;
}

.bloco {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #5e2ca5;
}

.campo {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #a084ca;
  border-radius: 6px;
  background-color: #fff;
  color: #2e004f;
  box-sizing: border-box;
}

.campo:focus {
  outline: none;
  border-color: #7b52b9;
  box-shadow: 0 0 0 3px rgba(160, 132, 202, 0.3);
}


h1 {
  color: #5e2ca5;
  text-align: center;
  margin-top: 30px;
}
